{% extends 'base.html'%}

{% block content-center%}
<link rel="stylesheet" type="text/css" href="/statics/css/editor.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/statics/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/statics/css/select.dataTables.min.css">

<script type="text/javascript" charset="utf8" src="/statics/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="/statics/js/dataTables.select.min.js"></script>
<script type="text/javascript" charset="utf8" src="/statics/js/dataTables.editor.min.js"></script>
<!--<script type="text/javascript" src="/statics/js/jquery.form.js"></script>-->

<h1 class="page-header">订单信息</h1>
<div class="col-lg-12">
    <table id="order" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>报名时间</th>
                <th>报名站点</th>
                <th>支付状态</th>
                <th>支付时间</th>
                <th>赠品状态</th>
                <th>赠品站点</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>
</div>

<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">提示</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}


var active_table=$('#order').DataTable();

function getActiveTable(){
    active_table.destroy();
    active_table = $('#order').DataTable({
        ajax: '/api/get/order/',
        aLengthMenu: [[-1, 150, 300 ], ["ALL", 150, 300]],
        order: [[0, 'desc']],
        processing: true,
        columns: [
            { data: 'id' ,"visible": false},
            { data: 'name' , width:"7%"},
            { data: 'phone' , width:"10%"},
            { data: 'register_at' , width:"10%"},
            { data: 'register_station' , width:"10%"},
            { data: 'pay_status' , width:"10%"},
            { data: 'pay_time' , width:"10%"},
            { data: 'gift_status' , width:"10%"},
            { data: 'gift_station' , width:"10%"},
            { data: function ( data, type, full, meta ) {
                return '<button type="button" class="btn btn-xs btn-default pull-right" data-row-id="' + data.id + '"  onclick="javascript:editOrder('+data.id+')"><span class="fa fa-pencil"></span></button> ' +
                        '<button type="button" class="btn btn-xs btn-default pull-right" data-row-id="' + data.id + '"  onclick="javascript:dropOrder('+data.id+')"><span class="fa fa-trash-o"></span></button> ';
            } , width:"8%"},
	    ],
    });
}


 
getActiveTable();


{% endblock %}
